/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#jZTNboMwEITfZXtFlX8wAW5t0pzaU3qrenDBBavERsaJVEV59xrUBJtKTn1jx3zeGS-c4CjMILWCEifQiaPoBijfTqD4XkAJGCFIoNLKGj5YKFfIPbVG7zmU6B4VjGLC0GXhi7jmPZTq0HXn5IoiC1QWoDDJfRIiMRRdoFIWoBhmmceKotIFCi8MIp8UN8iWBgPSwh9KoyjCYl1ladBWvCsWdkXyMHaa0tWMojFUdiN2FKxo7Ksbw5D9_wbz6IhiVPj-4rEXC1Qexp5P0_AX8J5AexDBd1OLwZpDZeVROCJXTeeqFHln9UbuufmeVearg3Bd1IGOg9etMFYGOkGFp_OqEsp6ap77h-teuw9_ljPmqRU3ddCXMzgIa6VqnMnTNaAXXYtuPKuvuNtfSyOcY63Guit_Nq_6sYFLXr9V94tRrvbRrHWnzbNsWhc03G23Tw8bOgsbbr7GOpnWVJ_27iw34-iN1-S27XpeTYYonM8_
*/
:root {
  --destructive-100: oklch(0.84 0.1 30);
  --destructive-200: oklch(0.79 0.13 30);
  --destructive-300: oklch(0.7 0.15 30);
  --destructive-400: oklch(0.42 0.09 30);
  --destructive-500: oklch(0.95 0.03 30);
  --destructive-525: oklch(0.89 0.06 30);
  --destructive-550: oklch(0.79 0.12 30);
  --destructive-600: oklch(0.69 0.15 30);
  --destructive-700: oklch(0.58 0.13 30);
  --destructive-800: oklch(0.5 0.11 30);
  --destructive-900: oklch(0.41 0.09 30);
  --primary-100: oklch(0.84 0.1 50);
  --primary-200: oklch(0.78 0.13 50);
  --primary-300: oklch(0.7 0.15 50);
  --primary-400: oklch(0.42 0.09 50);
  --primary-500: oklch(0.95 0.03 50);
  --primary-525: oklch(0.89 0.06 50);
  --primary-550: oklch(0.79 0.12 50);
  --primary-600: oklch(0.69 0.15 50);
  --primary-700: oklch(0.58 0.13 50);
  --primary-800: oklch(0.5 0.11 50);
  --primary-900: oklch(0.41 0.09 50);
  --secondary-100: oklch(0.82 0.1 130);
  --secondary-200: oklch(0.76 0.13 130);
  --secondary-300: oklch(0.67 0.15 130);
  --secondary-400: oklch(0.41 0.09 130);
  --secondary-500: oklch(0.95 0.03 130);
  --secondary-525: oklch(0.88 0.06 130);
  --secondary-550: oklch(0.77 0.12 130);
  --secondary-600: oklch(0.66 0.15 130);
  --secondary-700: oklch(0.56 0.13 130);
  --secondary-800: oklch(0.49 0.11 130);
  --secondary-900: oklch(0.4 0.09 130);
  --tertiary-100: oklch(0.82 0.1 209);
  --tertiary-200: oklch(0.76 0.13 209);
  --tertiary-300: oklch(0.67 0.15 209);
  --tertiary-400: oklch(0.4 0.09 209);
  --tertiary-500: oklch(0.95 0.03 209);
  --tertiary-525: oklch(0.87 0.06 209);
  --tertiary-550: oklch(0.77 0.12 209);
  --tertiary-600: oklch(0.66 0.15 209);
  --tertiary-700: oklch(0.56 0.13 209);
  --tertiary-800: oklch(0.48 0.11 209);
  --tertiary-900: oklch(0.39 0.09 209);
  --accent-100: oklch(0.83 0.1 288);
  --accent-200: oklch(0.78 0.13 288);
  --accent-300: oklch(0.7 0.15 288);
  --accent-400: oklch(0.42 0.09 288);
  --accent-500: oklch(0.95 0.03 288);
  --accent-525: oklch(0.88 0.06 288);
  --accent-550: oklch(0.79 0.12 288);
  --accent-600: oklch(0.69 0.15 288);
  --accent-700: oklch(0.58 0.13 288);
  --accent-800: oklch(0.5 0.11 288);
  --accent-900: oklch(0.41 0.09 288);
  --popover-100: oklch(0.83 0.1 65);
  --popover-200: oklch(0.78 0.13 65);
  --popover-300: oklch(0.69 0.15 65);
  --popover-400: oklch(0.42 0.09 65);
  --popover-500: oklch(0.95 0.03 65);
  --popover-525: oklch(0.88 0.06 65);
  --popover-550: oklch(0.79 0.12 65);
  --popover-600: oklch(0.68 0.15 65);
  --popover-700: oklch(0.58 0.13 65);
  --popover-800: oklch(0.5 0.11 65);
  --popover-900: oklch(0.41 0.09 65);
  --card-100: oklch(0.84 0.1 50);
  --card-200: oklch(0.78 0.13 50);
  --card-300: oklch(0.7 0.15 50);
  --card-400: oklch(0.42 0.09 50);
  --card-500: oklch(0.95 0.03 50);
  --card-525: oklch(0.89 0.06 50);
  --card-550: oklch(0.79 0.12 50);
  --card-600: oklch(0.69 0.15 50);
  --card-700: oklch(0.58 0.13 50);
  --card-800: oklch(0.5 0.11 50);
  --card-900: oklch(0.41 0.09 50);
}